.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

td.break {
    word-wrap: break-word;
    word-break: break-all;
}

#details {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

table {
    a {
        text-decoration: none;
    }
}